body {
    margin: 0;
    padding: 0;
    background: #000000;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.itsyou {
    height: 70px;
    width: 70px;
    background: #ffffff;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: #ffffff -10px 10px 90px;
    animation: itsyou 0.6s linear infinite;
}

.itsyou::before {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #ffffff;
    top: -50%;
    border-radius: 50px;
    box-shadow: #ffffff -10px -10px 90px;  
}

.itsyou::after {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #ffffff;
    right: -50%;
    border-radius: 50px;
    box-shadow: #ffffff 10px 10px 90px;
} 

@keyframes itsyou {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    80% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.my-stickyfoot {
    justify-content: flex-end;
    position:fixed;
    bottom: 0;
    right: 0;
    left: 10%;
    width: 89%;
    display: flex;
  }

.my-stickyfoot p {
    font-size: 13px;
    word-spacing: 5px;
    color: white;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    opacity: 30%;
}